
RewriteEngine on
RewriteCond %{HTTP_HOST} ^joshyoung\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.joshyoung\.net$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^Home$ "Https\:\/\/joshyoung\.net\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
