body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.navDesktop {
  display: none;
}

.expandBio,
.collapseBio,
.hamburger,
.cross,
.projectImage {
  cursor: pointer;
}

.expandedBio {
  display: none;
}

.headerContainer {
  height: 65px;
  background-image: url("./images/backgrounds/background.svg");
  background-color: #ededed;
  background-size: 250px auto;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid #818282;
  z-index: 40;
}

.logoImage {
  width: 30px;
  margin-left: 18px;
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: auto;
  display: inline-block;
  letter-spacing: -1px;
  margin: 18px 0 0 7px;
  vertical-align: 8px;
}

.navMenuMobile {
  position: absolute;
  background-image: url(./images/backgrounds/background.svg);
  background-color: #ededed;
  background-size: 250px auto;
  height: 400px;
  width: 100%;
  border-bottom: 2px solid #818282;
  text-align: right;
  display: block;
  top: 64px;
  z-index: -1;
  background-position-y: -64px;
}

.navItemsMobile {
  list-style-type: none;
  margin: 90px 40px 0 0;
}

.navItemsMobile li {
  margin-bottom: 20px;
}

.menuDesktop {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  position: relative;
}

.menuDesktop:before {
  content: "";
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

.navMenuDesktop {
  position: absolute;
  right: 30px;
  top: 16px;
}

.menuItem {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
}

.menuItem:before {
  content: "";
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

.home:before {
  content: "";
  background: #70c9be;
  position: absolute;
  right: -8px;
  top: 16px;
  width: 100px;
  height: 17px;
  z-index: -1;
  box-shadow: 2px 2px 6px 0 #818282;
}

.hamburger {
  background: none;
  line-height: 45px;
  padding: 10px 11px 10px 11px;
  border: 0;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  transform: scale(1.5, 1);
  position: absolute;
  right: 11px;
  top: 0;
  outline: none;
}

.cross {
  background: none;
  line-height: 45px;
  padding: 10px 15px 10px 15px;
  border: 0;
  font-size: 1.5em;
  cursor: pointer;
  transform: scale(1.5, 1);
  position: absolute;
  right: 10px;
  top: 0;
  outline: none;
}

.joshImage {
  width: 200px;
  margin: 105px 0 0 28px;
}

.bioContainer {
  padding-left: 28px;
  padding-right: 28px;
}

.helloImage {
  width: 35vw;
}

.helloContainer {
  position: absolute;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 230px;
}

.titleText {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.bioText {
  font-size: 16px;
  margin: 25px 0 35px;
}

.boldBioText {
  font-weight: bold;
}

.expandBio,
.collapseBio {
  font-weight: bold;
}

.portfolioContainer {
  border-top: 2px solid #818282;
  border-bottom: 2px solid #818282;
  background-image: url("./images/backgrounds/background.svg");
  background-size: 250px auto;
  background-color: #ededed;
  width: 100%;
  padding-bottom: 60px;
}

.portTitleContainer {
  position: relative;
  width: 300px;
  margin: auto;
}

.portfolioTitle,
.portfolioProjText {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -2px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
}

.portfolioTitle:before {
  content: "";
  background: #70c9be;
  position: absolute;
  right: 67px;
  top: 15px;
  width: 148px;
  height: 20px;
  z-index: -1;
  box-shadow: 2px 2px 6px 0 #818282;
}

.click {
  font-weight: bold;
}

.portfolioInstructions,
.portfolioProjDescription {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin: 8px auto 0;
}

.fake {
  display: none;
}

.project {
  margin: 40px auto 0;
  text-align: center;
  width: 320px;
}

.projectImage {
  width: 300px;
  box-shadow: 2px 2px 6px 0 #818282;
  z-index: 2;
  object-fit: cover;
}

.demoProjectImage {
  height: 243.66px;
}

.projectImageContainer {
  position: relative;
}

.projectTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 3px;
  width: auto;
}

.projectLinks {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: auto 8px;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.projectLinks:before {
  content: "";
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

.logoBreak {
  width: 15px;
  margin: 20px 4px 0;
  vertical-align: -1px;
}

.menuBreak {
  width: 10px;
  margin: 18px 6px 0;
}

.projectLanguages {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 14px;
  background-color: #eeeff0;
  display: inline-block;
}

.projectDescription {
  font-size: 13px;
  font-weight: 400;
  margin: 0 5% 14px;
}

.descriptionText {
  background-color: #eeeff0;
}

.fake800,
.fake980,
.fake1200 {
  display: none;
}

.portfolioProj {
  margin: 0 20px 0;
  position: relative;
}

.demoContainer {
  position: relative;
  width: 300px;
  margin: auto;
}

.portfolioProjText:before {
  content: "";
  background: #70c9be;
  position: absolute;
  right: 40px;
  top: 15px;
  width: 90px;
  height: 20px;
  z-index: -1;
  box-shadow: 2px 2px 6px 0 #818282;
}

.portfolioProjDescription {
  margin-bottom: 30px;
}

.portfolioDemo {
  margin-bottom: 70px;
}

.demoOption {
  font-weight: 700;
}

.formList,
.inputList {
  list-style-type: none;
}

.inputList {
  margin-bottom: 7px;
}

#submitButton {
  display: block;
  margin: 20px auto 0;
  background-color: #70c9be;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 10px;
  cursor: pointer;
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

#submitButton:hover {
  background-color: black;
  color: white;
  padding: 8px 15px;
}

.portfolioLink {
  color: blue;
  font-weight: 700;
  text-decoration: underline;
}

.formLegend {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  background-image: url("./images/backgrounds/background.svg");
  background-color: #ededed;
  background-size: 250px auto;
  border: 2px solid #818282;
}

.projectGeneratorList {
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-bottom: 10px;
}

.inputText {
  width: 230px;
}

.footerContainer {
  border-top: 2px solid #818282;
  height: 150px;
  background-image: url("./images/backgrounds/background.svg");
  background-color: #ededed;
  background-size: 250px auto;
}

.socialLogo {
  width: 50px;
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

.socialLogoContainer {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  text-align: center;
  margin-top: 35px;
}

#scrollTop {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  background-color: #818282;
  color: white;
  cursor: pointer;
  padding: 12px 15px 12px;
  opacity: 0.6;
  line-height: 30px;
  transition: all 0.1s ease-out 0.1s;
  -webkit-transition: all 0.1s ease-out 0.1s;
  -moz-transition: all 0.1s ease-out 0.1s;
  -o-transition: all 0.1s ease-out 0.1s;
}

@media not all and (pointer: coarse) {
  /* .projectImageContainer:hover > img {
    filter: brightness(25%);
  }

  .projectImageContainer:hover::after {
    content: "More Info";
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
    z-index: 1;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-left: -46px;
    margin-top: -10px;
  } */

  .socialLogo:hover {
    transform: scale(1.1);
  }

  #scrollTop:hover {
    opacity: 1;
  }

  .menuHover:hover::before {
    content: "";
    background: #70c9be;
    position: absolute;
    right: -8px;
    top: 15px;
    width: 100%;
    height: 18px;
    z-index: -1;
    box-shadow: 2px 2px 6px 0 #818282;
  }

  .menuDesktop:hover::before {
    content: "";
    background: #70c9be;
    position: absolute;
    right: -5px;
    top: 8px;
    width: 100%;
    height: 13px;
    z-index: -1;
    box-shadow: 2px 2px 6px 0 #818282;
  }

  .projectLinks:hover::before {
    content: "";
    background: #70c9be;
    position: absolute;
    right: 0px;
    top: 10px;
    width: 100%;
    height: 13px;
    z-index: -1;
    box-shadow: 2px 2px 6px 0 #818282;
  }
}

@media only screen and (min-width: 360px) {
  .helloImage {
    width: 40vw;
  }
}

@media only screen and (min-width: 420px) {
  .joshImage {
    width: 55%;
  }

  .logoImage {
    margin-left: 30px;
  }

  .project {
    padding-bottom: 2%;
  }

  .titleText {
    font-size: 60px;
    margin-top: 50%;
  }

  .portfolioTitle {
    font-size: 50px;
  }

  .portfolioTitle:before {
    right: 28px;
    top: 23px;
    width: 222px;
    height: 30px;
  }

  .project {
    width: 80%;
  }

  .projectImage {
    width: 100%;
  }

  .projectTitle {
    font-size: 18px;
  }

  .projectDescription,
  .projectLanguages {
    margin: 0 38px 16px;
    font-size: 16px;
  }

  .portfolioProj {
    margin: 0 10% 0;
  }

  .portfolioProjText {
    font-size: 45px;
  }

  .portfolioProjText:before {
    right: 0;
    top: 0.4em;
    width: 2.8em;
    height: 0.7em;
  }

  .demoProjectImage {
    height: 63.4vw;
  }
}

@media only screen and (min-width: 480px) {
  .titleText {
    font-size: 80px;
    letter-spacing: -3px;
  }

  .logoImage {
    width: 34px;
  }

  .bioText {
    font-size: 18px;
    margin: 35px 0 45px;
  }

  .name {
    font-size: 30px;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 620px) {
  .titleText {
    font-size: 100px;
    letter-spacing: -3px;
  }

  .projectGeneratorList {
    width: 300px;
  }

  .inputText {
    width: 300px;
  }

  .helloContainer {
    top: 40vw;
  }
}

@media only screen and (min-width: 800px) {
  .helloImage {
    width: 35vw;
  }

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .project {
    width: 45%;
    margin: 50px auto 0;
    padding-bottom: initial;
  }

  .projectImage {
    width: 100%;
  }

  .projectDescription {
    margin: 0 0 14px;
  }

  .helloContainer {
    position: static;
    margin-bottom: 5px;
  }

  .joshImage {
    width: 400px;
    height: 470px;
  }

  .bioText {
    z-index: 2;
    font-size: 16px;
    margin: 0;
  }

  .hero {
    display: flex;
    padding-bottom: 50px;
  }

  .portfolioDemo {
    width: 625px;
    margin-left: auto;
    margin-right: auto;
  }

  .fake980,
  .fake1200 {
    display: none;
  }

  .fake800 {
    display: initial;
  }

  .demoProjectImage {
    height: 34.3vw;
    object-fit: cover;
    width: 100%;
  }

  .bioContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .expandBio {
    display: none;
  }

  .collapseBio {
    display: none;
  }

  .expandedBio {
    display: initial;
  }
}

@media only screen and (min-width: 980px) {
  .project {
    width: 30%;
  }

  .logoImage {
    margin-left: 43px;
  }

  .joshImage {
    margin: 110px 0 0 43px;
  }

  .titleText {
    font-size: 140px;
    letter-spacing: -7px;
  }

  .bioContainer {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navMenuMobile {
    display: none;
  }

  .hamburger,
  .cross {
    display: none;
  }

  .navDesktop {
    display: initial;
  }

  .portfolioProjDescription {
    width: 780px;
  }

  .fake800,
  .fake1200 {
    display: none;
  }

  .fake980 {
    display: initial;
  }

  .demoProjectImage {
    height: 23.2vw;
  }

  .helloImage {
    width: 380px;
  }
}

@media only screen and (min-width: 1200px) {
  .project {
    width: 23%;
  }

  .fake {
    display: initial;
  }

  .bioText {
    width: 620px;
    font-size: 18px;
  }

  .fake800,
  .fake980 {
    display: none;
  }

  .fake1200 {
    display: initial;
  }

  .demoProjectImage {
    height: 17.9vw;
  }
}

@media only screen and (min-width: 1400px) {
  .bioText {
    width: 800px;
    font-size: 20px;
  }
}
